* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }
  
  body {
    background-color: #eee;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10rem auto;
    padding: 20px;
    background-color: #fff;
  }
  
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
  }
  
  .lists {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  
  .lists li {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  
  input {
    border: none;
  }
  
  input[type="text"]:focus {
    outline: none;
  }
  
  button {
    border: none;
    background-color: #fff;
    padding-top: 20px;
  }
  
  .rowData {
    display: flex;
    gap: 10px;
  }